/* Position and style the translate element */
#google_translate_element {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 9999 !important;
    margin: 30px !important;
    padding: 5px 5px !important;
    background: #FFA147 !important;
    border-radius: 4px !important;
}
